*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    font-family: "Open Sans", serif;
}

header{
    font-size: 13px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}

footer{
    background-color: black;
    color: white;
}

/* header */

.logo{
    width: 100%;
}


/* main */

.jumbotron{
    background-color: #b4d0e6;
    padding: 100px 0 0 0;
}

.jumbo-container{
    width: 900px;
    margin: 0 auto;
}

.jumbo-img{
    width: 115%;
}

h1{
    font-size: 50px;
    font-weight: 750;
}

.main-container{
    width: 550px;
    margin: 0 auto; 
}

/* layout */

.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.header-col{
    width: 45%;
}

.header-logo-col{
    width: 10%;
}

.jumbo-col-left{
    width: 35%;
}

.jumbo-col-right{
    width: 65%;
}

.choose-col{
    width: 30%;
}

.choose-col-orizz{
    width: 100%;
}

.contact-col{
    width: 100%;
}

.right-col{
    width: 50%;
}

.left-col{
    width: 50%;
}

.operation-col{
    width: 33%;
}

.foot-container{
    width: 700px;
    margin: 0 auto;
}

.foot-col{
    width: 20%;
}

/* postion */

.relative{
    position: relative;
    top: 55px;
}

/* flex-box */
.d-flex{
    display: flex;
}

.justi-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

/* liste */

header ul{
    list-style: none;
}

header ul li{
    display: inline-block;
    margin: 0 10px;
}

/* button */

.btn-blue{
    background-color: #0061fe;
    color: white;
    border: none;
}

button{
    padding: 10px 15px;
}

/* txt align */

.align-right{
    text-align: right;
}

.txt-center{
    text-align: center;
}

.txt-size-17{
    font-size: 17px;
}

.txt-size-15{
    font-size: 15px;
}

.icon-size-jumbo{
    font-size: 45px;
}

/* border */

.border-layout{
    border: 1px solid black;
}

/* color */

.bg-orange{
    background-color: orange;
}

.bg-red{
    background-color: red;
}

.bg-grey{
    background-color: gray;
}

.bg-lightgreen{
    background-color: lightgreen;
}

.bg-blue{
    background-color: blue;
}

.bg-yellow{
    background-color: yellow;
}


/* padding */

.header-pd{
    padding: 10px 5px;
}

.pdy-20{
    padding: 20px 0;
}

.pd-5{
    padding: 5px;
}

.pdy-100{
    padding: 100px 0;
}

/* .jumbo-pd{
    padding: 70px
} */

/* altezze */

.hg-20{
    height: 20px;
}

.hg-150{
    height: 150px;
}

.hg-200{
    height: 200px;
}

.hg-300{
    height: 300px;
}

.hg-500{
    height: 500px;
}

.hg-2000{
    height: 2000px;
}

/* margin */

.my-top-30{
    margin-top: 30px;
}

.my-top-200{
    margin-top: 200px;
}

.jumbo-pd{
    padding: 50px 0 0 0;
}

/* width */

.w-50{
    width: 100%;
}