*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Open Sans", serif;
}

header{
    font-size: 13px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}

footer{
    background-color: black;
    color: white;
}

/* header */

.logo{
    width: 100%;
}


/* main */

.jumbotron{
    background-color: #b4d0e6;
    padding: 100px 0 0 0;
}

.jumbo-container{
    width: 900px;
    margin: 0 auto;
}

h1{
    font-size: 50px;
    font-weight: 750;
}

.main-container{
    width: 800px;
    margin: 0 auto; 
}

.bd-row{
    border-top: 1px solid rgb(233, 232, 232);
}

.inline-block{
    display: inline-block;
}

/* immagini */

.jumbo-img{
    width: 115%;
}

.partner-img{
    width: 100%;
}

.operation-img{
    width: 100%;
}

/* layout */

.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.header-col{
    width: 45%;
}

.header-logo-col{
    width: 10%;
}

.jumbo-col-left{
    width: 35%;
}

.jumbo-col-right{
    width: 65%;
}

.choose-col{
    width: 32%;
}

.choose-col-orizz{
    width: 100%;
}

.inside-col-left{
    width: 70%;
}

.inside-col-right{
    width: 30%;
}

.contact-col{
    width: 100%;
}

.right-col{
    width: 40%;
}

.left-col{
    width: 60%;
}

.operation-col{
    width: 33%;
}

.foot-container{
    width: 900px;
    margin: 0 auto;
}

.foot-col{
    width: 20%;
}

/* postion */

.relative{
    position: relative;
    top: 55px;
}

/* flex-box */

.d-flex{
    display: flex;
}

.justi-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

/* liste */

header ul{
    list-style: none;
}

header ul li{
    display: inline-block;
    margin: 0 10px;
}

main ul{
    list-style: none;
}

main ul li{
    display: flex;
    align-items: first baseline;
    margin-top: 15px;
    font-size: 13px;
}

main ul li i{
    color: #267efe;
    margin-right: 5px;
}

footer ul{
    list-style: none;
    margin-top: 15px;
}

footer ul li{
    font-size: 13px;
    margin-top: 10px;
}


/* button */

.btn-blue{
    background-color: #0061fe;
    color: white;
    border: none;
}

.btn-white{
    border: 1px solid black;
    background-color: white;
}

button{
    padding: 10px 15px;
}

/* hr */

hr{
    width: 50px;
    margin-top: 40px;
}

footer hr{
    width: 20%;
}

/* txt align/size*/

.align-right{
    text-align: right;
}

.txt-center{
    text-align: center;
}

.txt-size-17{
    font-size: 17px;
}

.txt-size-15{
    font-size: 15px;
}

.txt-size-13{
    font-size: 13px;
}

.icon-size-jumbo{
    font-size: 45px;
    color: black;
}

/* border */

.border-layout{
    border: 1px solid #f0f0f1;
}

.bd-bottom{
    border-bottom: 1px solid #f0f0f1;
}

/* color */

.txt-lightgray{
    color: lightgrey;
}

/* padding */

.header-pd{
    padding: 10px 5px;
}

.pdy-20{
    padding: 20px 0;
}

.pdy-15{
    padding-bottom: 15px;
}

.pdy-5{
    padding: 5px 0;
}

.pd-5{
    padding: 5px;
}

.pd-15{
    padding: 15px;
}


.pd-contact{
    padding: 25px 0 0 15px;
}

.pdy-70{
    padding: 70px 0;
}


/* margin */

.my-top-30{
    margin-top: 30px;
}

.my-top-100{
    margin-top: 100px;
}

.my-top-200{
    margin-top: 200px;
}

.my-top-50{
    margin-top: 50px;
}

.my-top-20{
    margin-top: 20px;
}

/* .my-top-10{
    margin-top: 10px;
} */

.my-top-40{
    margin-top: 40px;
}

.my-bottom-15{
    margin-bottom: 15px;
}

.my-bottom-40{
    margin-bottom: 40px;
}

.mxr-40{
    margin-right: 40px
}

.mxr-5{
    margin-right: 5px
}

.mxl-5{
    margin-left: 5px
}

.jumbo-pd{
    padding: 50px 0 0 0;
}

/* width */

.w-100{
    width: 100%;
}

/* hover */

button:hover{
    opacity: 0.4;
    cursor: pointer;
}

i.fa-solid.fa-earth-americas:hover{
    cursor: pointer;
}

input[type='radio']:hover{
    cursor: pointer;
}

header ul li:hover{
    cursor: context-menu;
}

footer ul li:hover{
    opacity: 0.5;
    cursor: pointer;
}

i.fa-solid.fa-arrow-down:hover{
    cursor: pointer;
    font-size: 48px;
}

/* dropdown */

.header-dropdown{
    position: relative;
    display: inline-block;
}

.header-dropdown-content{
    position: absolute;
    opacity: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px 20px;
    transition: 1s;
    z-index: 1;
}

div.header-dropdown-content ul li:hover{
    cursor: pointer;
}

div.header-dropdown-content ul li + li{
    margin-top: 10px;
}

.header-dropdown:hover .header-dropdown-content{
    opacity: 1;
}


